Repository LunarClient/ServerMappings, pull requests merged in 2022-05, with the labels that each got.

#336 Added KoolKidz MC
  logos/koolkidzmc.png
  servers.json
Labels: Incorrect Formatting, Logo Required

#330 Added Eclipsepvp
  logos/eclipsepvp.png
  servers.json
Labels: Incorrect Formatting

#350 Add Revive Network
  logos/revivenetwork.png
  servers.json
Labels: Logo Required
